In [2]:
import pandas as pd

df = pd.read_csv('insurance_insurance.csv')

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()

# Label Encoder

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

import pandas as pd
from pandas.api.types import is_numeric_dtype


for column in df.columns:  
    
    f=(is_numeric_dtype(df[column]))
    
    
    if f==False:
             
        data=df[column]
            
        df[column]= le.fit_transform(data)
        
        
        #print(df[column])

In [8]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# one hot encoder

In [6]:
import pandas as pd
from pandas.api.types import is_numeric_dtype

for col in df1.columns:
    
    f=(is_numeric_dtype(df1[col]))
    
    if f==False:
        
        data=df1[col]
        
        n=(pd.get_dummies(data, prefix=col, prefix_sep='_'))
        
        print(len(n))
        
        for c in n:
            #print(n[c])
            
            print(c)
            
            df1[c] = n[c]
        
        
        df1.drop([col], axis=1,inplace=True)
        
        #dff= pd.DataFrame(n)
        
        
        #df1=pd.concat([df1, n])
        
    
        
        
        
        
print(df1)

      age     bmi  children      charges  sex_female  sex_male  smoker_no  \
0      19  27.900         0  16884.92400           1         0          0
1      18  33.770         1   1725.55230           0         1          1
2      28  33.000         3   4449.46200           0         1          1
3      33  22.705         0  21984.47061           0         1          1
4      32  28.880         0   3866.85520           0         1          1
...   ...     ...       ...          ...         ...       ...        ...
1333   50  30.970         3  10600.54830           0         1          1
1334   18  31.920         0   2205.98080           1         0          1
1335   18  36.850         0   1629.83350           1         0          1
1336   21  25.800         0   2007.94500           1         0          1
1337   61  29.070         0  29141.36030           1         0          0

      smoker_yes  region_northeast  region_northwest  region_southeast  \
0              1                 0                 0                 0
1              0                 0                 0                 1
2              0                 0                 0                 1
3              0                 0                 1                 0
4              0                 0                 1                 0
...          ...               ...               ...               ...
1333           0                 0                 1                 0
1334           0                 1                 0                 0
1335           0                 0                 0                 1
1336           0                 0                 0                 0
1337           1                 0                 1                 0

      region_southwest
0                    1
1                    0
2                    0
3                    0
4                    0
...                ...
1333                 0
1334                 0
1335                 0
1336                 1
1337                 0

[1338 rows x 12 columns]